<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>InscriptionServlet</display-name>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>UserController.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionServlet</display-name>
    <servlet-name>ConnectionServlet</servlet-name>
    <servlet-class>UserController.ConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionServlet</servlet-name>
    <url-pattern>/ConnectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>UserController.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRecipeServlet</display-name>
    <servlet-name>AddRecipeServlet</servlet-name>
    <servlet-class>management_recette.AddRecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRecipeServlet</servlet-name>
    <url-pattern>/AddRecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageDisplayServlet</display-name>
    <servlet-name>ImageDisplayServlet</servlet-name>
    <servlet-class>management_recette.ImageDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageDisplayServlet</servlet-name>
    <url-pattern>/ImageDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detailsServlet</display-name>
    <servlet-name>detailsServlet</servlet-name>
    <servlet-class>recetteController.detailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailsServlet</servlet-name>
    <url-pattern>/detailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rechercheServlet</display-name>
    <servlet-name>rechercheServlet</servlet-name>
    <servlet-class>recetteController.rechercheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rechercheServlet</servlet-name>
    <url-pattern>/rechercheServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherTableServlet</display-name>
    <servlet-name>AfficherTableServlet</servlet-name>
    <servlet-class>management_recette.AfficherTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherTableServlet</servlet-name>
    <url-pattern>/AfficherTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>management_recette.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmServlet</display-name>
    <servlet-name>ConfirmServlet</servlet-name>
    <servlet-class>management_recette.ConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmServlet</servlet-name>
    <url-pattern>/ConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeDislikeServlet</display-name>
    <servlet-name>LikeDislikeServlet</servlet-name>
    <servlet-class>recetteController.LikeDislikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeDislikeServlet</servlet-name>
    <url-pattern>/LikeDislikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherTableServlet2</display-name>
    <servlet-name>AfficherTableServlet2</servlet-name>
    <servlet-class>recetteController.AfficherTableServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherTableServlet2</servlet-name>
    <url-pattern>/AfficherTableServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delet1Servlet</display-name>
    <servlet-name>Delet1Servlet</servlet-name>
    <servlet-class>recetteController.Delet1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delet1Servlet</servlet-name>
    <url-pattern>/Delet1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>recetteController.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
</web-app>